{% ckan_extends %}
{% block meta %}
  {{ super() }}
  <meta property="og:type" content="website" />
  <meta property="og:title" content="opendata.government.bg" />
  <meta property="og:description" content="Демонстрационен портал за отворени данни в република България" />
  <meta property="og:image" content="https://opendata.government.bg/opendatafacebook.png" />
{% endblock %}

{% block styles %}
  {{ super() }}
  {% resource 'bulgarian_theme/fonts.css' %}
  {% resource 'bulgarian_theme/extra.css' %}
{% endblock %}


{% block links -%}
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
  <link rel="icon" type="image/png" href="/favicon.png" />
{% endblock -%}