{% ckan_extends %}
{% block meta %}
  {{ super() }}
  <meta property="og:type" content="website" />
  <meta property="og:title" content="opendata.government.bg" />
  <meta property="og:description" content="Портал за отворени данни в република България" />
  <meta property="og:image" content="https://opendata.government.bg/opendatafacebook.png" />
{% endblock %}

{% block styles %}
  {{ super() }}
  {% resource 'bulgarian_theme/fonts.css' %}
  {% resource 'bulgarian_theme/extra.css' %}
{% endblock %}


{% block links -%}
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
  <link rel="icon" type="image/png" href="/favicon.png" />
{% endblock -%}

{% block scripts %}
  {{ super() }}
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-65130379-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = '//www.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
{% endblock %}
